/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* navbar starts here  */
.nav-logo img{
    width: 50%;
    height: 30%;
}
.navbar .navbar-title {
    text-align: right;   
    margin: 20px 0;
  
}
.navbar .navbar-title h1 {
    
    font-size: 70px;
}


.navbar .nav-logo{
    text-align: left;
}
.navbar .navbar-links {
    flex-direction: row;
    justify-content: flex-end;
    
}
.navbar .navbar-links a{
    margin: 20px;
    padding: 20px 7px;
    background-color: transparent;

}
.navbar .navbar-links a:hover{
    background-color: lightgrey;
    border-radius: 5%;
    font-size: larger;

}

/* navbar ends here  */

/* profile starts here  */


.profile .left-icon{
    left: 80px;
    bottom: 20px;
}
.profile .right-icon{
    right: 100px;
    top: 30px;
}
.profile .right-icon img{
   
   
   width: 100px;
   transition: width 2s,transform 2s;
   
}
.profile .left-icon img{
    
    width: 100px;
    transition: width 2s,transform 2s;
      
}

.profile .right-icon img:hover{
    width: 120px;
    
    
}
.profile .left-icon img:hover{
    width: 120px;
    
}

.desc p{
    font-size: 1.5rem;
}

/* profile ends here  */


/* aboutme starts here  */

.aboutme-img{
    margin-top: 100px;
}
.aboutme-img img{
    width: 250px;
    height: 270px;
}

.aboutme-desc p{
    text-align: left;
}

/* aboutme ends here  */

/* professional experience starts here
professional experience ends here    */


/* contact-more starts here*/

.contact-btn{
    width: 100px;
}

.media-btn{
    margin-top: 80px;
}
.media-btn .button{
    font-size: 50px;

}

/*   contact-more ends here */

/* footer starts here */

.footer-menu{
    flex-direction: row;
    justify-content: flex-start;
}
.footer-menu a{
    padding: 10px;
}

/* footer ends here */